@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600');
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400');
@import url('https://css.gg/eye.css');

$bgcolor: #202945;
$textcolor: #fafafafa;

body {
    font-family: Nunito, sans-serif;
    color: $textcolor;
    background-color: $bgcolor;

    a {
        color: $textcolor !important;
    }
}

h1,
h2 {
    font-family: Titillium Web, sans-serif;
}

h1 {
    font-weight: 600;
}

h2 {
    font-size: 1.75rem;
}

p {
    font-size: 1.125rem;
}

.btn.btn-primary {
    background-color: #374368;
    border-color: transparent;

    &:hover {
        background-color: #374368 + 50%;
        filter: drop-shadow(0 0 .3125rem #374368+20%);
        transition-duration: .5s;
    }

    &:focus {
        box-shadow: none;
    }
}

.btn.btn-secondary {
    color: $bgcolor !important;
    background-color: #cccccc;
    border-color: transparent;

    &:hover {
        background-color: #cccccc + 50%;
        filter: drop-shadow(0 0 .3125rem #cccccc+20%);
        transition-duration: .5s;
    }
}

.bg-dark {
    background-color: $bgcolor !important;
}

.dropdown-menu-dark {
    background-color: $bgcolor + 30%;
}

.dropdown-item {
    &:active {
        background-color: $bgcolor + 50% !important;
    }
}

.modal-content {
    border-radius: 1.25rem;
    &:hover {
        filter: drop-shadow(0 0 .5rem #374368+70%);
        transition-duration: 1s;
    }
}

.content {
    &:hover {
        .image-content {
            opacity: 0.3;
        }
        .overlay-content {
            opacity: 1;
        }
    }

    .image-content {
        opacity: 0.8;
        display: block;
        width: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
        border-radius: 20px;
    }

    .overlay-content {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);

        &:hover {
            filter: drop-shadow(0 0 .5rem #cccccc+20%);
        }
    }
}