html, body{
    scroll-padding-top: 100px;
    scroll-behavior: smooth;
}

footer {
    line-height: 1.85;
    font-size: .95rem;
}

.bg-solid-blue {
    background-color: #01AFFF;
}

.main-heading {
    font-size: 24px;
}

.medium-heading {
    font-size: 20px;
}

.desc-lead {
    font-size: 16px;
}

.main-heading-showreel {
    font-size: 4rem;
}

.nav-pills .nav-item .nav-link {
    font-size: 14px;
}

.item-showreel {
    cursor: pointer;
    position: relative;
}

.image-showreel {
    border-radius: 10px;
}

.overlay-title {
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    padding: 50px 0 15px 15px;
    width: 100%;
    transition: .3s ease;
    opacity: 0;
    color: #ffffff;
    font-weight: 600;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(255, 255, 255, 0) 100%);
}

.item-showreel:hover .overlay-title {
    opacity: 1;
}


@media screen and (max-width: 768px) {
    .nav-pills {
        overflow-x: auto;
        overflow-y: hidden;
        flex-wrap: nowrap;
        scroll-behavior: smooth;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
    }

    .nav-pills .nav-item {
        width: 100%;
        white-space: nowrap;
    }
}

.header-2-1 .hero {
    padding: 2rem 0 !important;
}

.header-2-1 .text-caption {
    font: 600 0.875rem/1.625 Poppins, sans-serif;
    margin-bottom: 2rem;
}

.header-2-1 .left-column {
    order: 2;
    margin-top: 2.75rem;

    width: 100%;
}

.header-2-1 .right-column {
    order: 1;
    width: 100%;
}

.header-2-1 .title-text-big {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    margin-bottom: 2rem;
}

.manfaat {
    text-align: center;
}

.manfaat p{
    font-weight: 300;
}

.manfaat .manfaat-deskripsi {
    padding: 0 40px;
}


@media (min-width: 576px) {
    .header-2-1 .hero {
        padding: 3rem 2rem 5rem;
    }

    .header-2-1 .title-text-big {
        font-size: 3rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .manfaat {
        text-align: left;
    }

    .manfaat .manfaat-deskripsi {
        padding: 0;
    }

    .desc-lead {
        font-size: 18px;
    }

    .header-2-1 .hero {
        padding: 3rem 4rem 5rem;
    }

    .header-2-1 .left-column {
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
    .header-2-1 .hero {
        padding: 3rem 6rem 5rem;
    }

    .header-2-1 .left-column {
        order: 1;
        width: 50%;
        margin-bottom: 0;
    }

    .header-2-1 .right-column {
        order: 2;
        width: 50%;
    }

    .header-2-1 .title-text-big {
        font-size: 3.75rem;
        line-height: 1.2;
    }

}